<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash.windymuse.com</destination>
        <!-- encoder必须配置,有多种可选 -->
        <encoder charset="UTF-8"  class="net.logstash.logback.encoder.LogstashEncoder" >
            <!-- "appname":"longji-provider" 的作用是指定创建索引的名字时用，并且在生成的文档中会多了这个字段  -->
            <customFields>{"appname":"mall-guoyu"}</customFields>
        </encoder>
    </appender>
    <root level="INFO" additivity="false">
        <appender-ref ref="LOGSTASH"/>
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>